@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Roboto:wght@500&display=swap');
:root {
	--bar-height: 95px;
	--color-primary: #009597;
	--color-primary-light: #0affd2;
}

body {
	margin: 0;
	font-family: 'Quicksand', sans-serif;
}

.header {
	height: 100vh;
	background: linear-gradient(to bottom right, #090979, #00d4ff, #9c27f5);
	display: flex;
	align-items: center;
	padding-top: var(--bar-height);
	box-sizing: border-box;
	}

.u-centered {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 16px;
	box-sizing: border-box;
}

.call-to-action {
	max-width: 600px;
	padding: 32px;
	box-sizing: border-box;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 16px;
}

.call-to-action__title {
	margin-top: 0;
	font-family: 'Roboto', sans-serif;
}

.call-to-action__button {
	background: #ffffff;
	outline: none;
	font:  1.1em 'Quicksand', sans-serif;
	color: #ff018f;
	border: 1px solid #ffffff;
	border-radius: 4px;
	padding: 10px 16px;
	cursor: pointer;
	transition: background 0.15s, color 0.15s;
}

.call-to-action__button:hover {
	background: transparent;
	color: #ffffff;
}

.bar {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--bar-height);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	transition: background 0.15s;
}

.bar--bg {
	background: transparent;
}

.bar__content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar__logo {
  height: 300%;
  padding-top: 15px;
}

.bar__logo img {
	height: 120%;
}


.bar__nav-toggle {
	cursor: pointer;
}

.bar__nav-toggle > i {
	color: #ffffff;
	font-size: 2em;
}


#inpNavToggle {
	display: none;
}

#inpNavToggle:checked ~ .nav {
	display: flex;
}

.nav {
	display: none;
	flex-direction: column;
	position: fixed;
	top: var(--bar-height);
	left: 0;
	width: 100%;
	height: calc(100vh - var(--bar-height));
	padding: 32px;
	background: linear-gradient(to left bottom,#02d7dd,#6558ff);
	box-sizing: border-box;
}

.nav__link {
	font-weight: bold;
	padding: 16px 0px;
	padding-left: 10px;
	text-decoration: none;
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav__link:hover {
	opacity: 0.8;
	color: yellow;
	text-decoration: none;
}


/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v67/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 767px) {
	.bar__nav-toggle {
		display: none;
	}


	.nav {
		display: initial;
		position: static;
		width: unset;
		height: unset;
		padding: unset;
		background: transparent;
	}

	.nav__link {
		border-bottom: none;
		text-decoration: none;
	}

	.nav__link:hover {
		color: yellow;
		font-weight: bold;
		text-decoration: none;
		border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;
	}

	.nav__link:not(:last-of-type) {
		margin-right: 24px;
	}
}


.image-carousels {
	height: 1;
	display: flex;
	align-items: center;
	padding-top: var(--bar-height);
	box-sizing: border-box;
	}

.image-carousels .container h1{
	margin-top: 200px;
	color : #ff018f;
}

.image-carousels .container .slider {
	margin-bottom: 50px;
}


.slider img{
	padding-top: 25px;
}

.pbtn {
	border: 0px;
	color: red;
	background: transparent;
	font-weight: bold;
	outline: none;
	outline-width: 0px;
	opacity: 0.7;
	text-decoration: none;
	transition: 0.6s ease;
	transform: translate(-50%,-50%);
}
.pbtn:hover {
	background: transparent;
	color: red;
	border: 0px;
	outline: none;
}
.nbtn {
	border: 0px;
	color: red;
	background: transparent;
	font-weight: bold;
	outline: none;
	opacity: 0.7;
	text-decoration: none;
	transition: 0.6s ease;
	transform: translate(-50%,-50%);
}
.nbtn:hover {
	background: transparent;
	color: red;
	border: 0px;
	outline: none;
}

.modal-body h4 {
	font-weight: bold;
	font-style: italic;
}

.modal-body p {
	font-weight: bold;
	font-style: italic;
}

.modal-header {
	background: linear-gradient(to left, #fd9743,#ff018f);
}

.close {
	width: 30%;
  background: transparent;
  font-weight: bold;
  font-size: 20%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  outline: none;
  outline-width: 0px;
  border-radius: 10px;
  cursor: pointer;
}

.modal-title{
	font-weight: bold;
}



label {
	color: black;
	font-weight: bold;
	font-size: 20px;
}

input[type="text"],select {
	width: 100%;
	height: 45px;
	border-radius: 10px;
	border-left: 0px;
	color: black;
	font-weight: bolder;
	font-family: sans-serif;
	font-size:15px;
	border-top: 0px;
	box-sizing: border-box;
	display: inline-block;
	outline: none;
	border-right: 0px;
	border-bottom: 2px solid blue;
	border-radius: 0px;
}

input[type="email"], select {
	width: 100%;
	height: 45px;
	border-radius: 10px;
	border-left: 0px;
	color: black;
	font-weight: bold;
	font-family: sans-serif;
	font-size:15px;
	border-top: 0px;
	box-sizing: border-box;
	display: inline-block;
	outline: none;
	border-right: 0px;
	border-bottom: 2px solid blue;
	border-radius: 0px;
}

input[type="tel"],select {
	width: 100%;
	height: 45px;
	border-radius: 10px;
	border-left: 0px;
	color: black;
	font-weight: bold;
	font-family: sans-serif;
	font-size:15px;
	border-top: 0px;
	box-sizing: border-box;
	display: inline-block;
	outline: none;
	border-right: 0px;
	border-bottom: 2px solid blue;
	border-radius: 0px;
}

textarea {
	width: 100%;
	height: 60px;
	border-radius: 10px;
	border-left: 0px;
	color: black;
	font-weight: bold;
	font-family: sans-serif;
	font-size:15px;
	border-top: 0px;
	box-sizing: border-box;
	display: inline-block;
	outline: none;
	border-right: 0px;
	border-bottom: 2px solid blue;
	border-radius: 0px;
}

input[type=submit] {
  width: 30%;
  background-color: #0A8DE7;
  font-weight: bold;
  color: black;
  padding: 14px 20px;
  margin: 10px 3px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #4BE60C;
}

.call-btn-1 {
	width: 50%;
  background-color: #0A8DE7;
  font-weight: bold;
  color: black;
  outline: none;
  padding: 14px 20px;
  margin: 10px 3px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}


.call-btn-1:hover {
	 background-color: #4BE60C;
	 outline: none;
}


.call-btn-1 i {
	 font-size: 24px;
}

input[type=reset] {
  width: 30%;
  background-color: #0A8DE7;
  font-weight: bold;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type=reset]:hover {
  background-color: red;
}

.btn-btn-danger {
  width: 30%;
  background: linear-gradient(to left, #fd9743,#ff018f);
  font-weight: bold;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn-btn-danger:hover {
  width: 30%;
  background-color: red;
  font-weight: bold;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: black;
}


.footer-area {
  margin-top: 0px;
  padding: 100px 0;
  background: #2749c4;
  background: -moz-linear-gradient(left,  #2749c4 0%, #6085b2 100%);
  background: -webkit-linear-gradient(left,  #2749c4 0%,#6085b2 100%);
  background: linear-gradient(to right,  #2749c4 0%,#6085b2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2749c4', endColorstr='#6085b2',GradientType=1 );
  color:#fff;
  position:relative;
}
.main {
  width: 1200px;
  margin: 0 auto;
}
.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
.single-footer {
  width: 230px;
}
.single-footer:first-child {
  width: 400px;
}
.single-footer h4 {
  text-transform: capitalize;
  font-size: 22px;
  margin-bottom: 20px;
}
.footer-social a {
  color: #fff;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.footer-social {
  margin-top: 20px;
}
.single-footer ul {
  list-style: none;
}
.single-footer ul li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}
.single-footer ul li a {
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
}
.single-footer ul li a i {
  position: absolute;
  left: 0;
  top: 5px;
}

.copy {
  text-align: center;
  text-transform: capitalize;
  margin-top: 50px;
}

.footer-wave-box {
  position: absolute;
  left: 0;
  top: 0;
  height: 45px;
  right: 0;
  width: 100%;
  overflow:hidden;
}
.footer-wave {
  background-image: url(footer-shape.png);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 200%;
  background-size:50%;
  background-position:bottom;
  background-repeat:repeat-x;
}

.footer-animation{
    -moz-animation: footer_wave 5s linear infinite;
    -o-animation: footer_wave 5s linear infinite;
    -webkit-animation: footer_wave 5s linear infinite;
    left:auto;
    right:0;
}
@-moz-keyframeskeyframes footer_wave{
  0%{
      -moz-transform:translateX(0%);
  }
  50%{
    -moz-transform:translateX(25%);
  }
  100%{
    -moz-transform:translateX(50%);
  }
}
@-moz-keyframes footer_wave{
  0%{
      -moz-transform:translateX(0%);
  }
  50%{
    -moz-transform:translateX(25%);
  }
  100%{
    -moz-transform:translateX(50%);
  }
}

@-o-keyframeskeyframes footer_wave{
  0%{
      -o-transform:translateX(0%);
  }
  50%{
    -o-transform:translateX(25%);
  }
  100%{
    -o-transform:translateX(50%);
  }
}

@-webkit-keyframeskeyframes footer_wave{
  0%{
      -webkit-transform:translateX(0%);
  }
  50%{
    -webkit-transform:translateX(25%);
  }
  100%{
    -webkit-transform:translateX(50%);
  }
}

@media only screen and (max-width:600px){
  .main{
    width:320px;
  }
  .footer-wave-box {
    display: none;
  }
  .single-footer:first-child, .single-footer {
    width: 100%;
    margin-bottom:30px;
  }
}